# Licensed to the .NET Core Community under one or more agreements.
# The .NET Core Community licenses this file to you under the MIT license.

version: "3.8"

name: mocha

services:

  grafana:
    image: grafana/grafana:11.0.1
    container_name: mocha-grafana
    ports:
      - "3000:3000"
    volumes:
      - ./grafana/provisioning:/etc/grafana/provisioning
# If you want to persist Grafana data, uncomment the following lines
#      - ./grafana:/var/lib/grafana
    restart: always
    networks:
      - mocha

  distributor:
    build:
      context: ..
      dockerfile: ./docker/distributor/Dockerfile
    container_name: mocha-distributor
    ports:
      - "4317:4317"
    expose:
      - "4317"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - Metadata__Storage__Provider=LiteDB
      - Tracing__Storage__Provider=LiteDB
      - Metrics__Storage__Provider=LiteDB
      - Metadata__Storage__LiteDB__DatabasePath=/data/litedb
      - Tracing__Storage__LiteDB__DatabasePath=/data/litedb
      - Metrics__Storage__LiteDB__DatabasePath=/data/litedb
    restart: always
    networks:
      - mocha
    volumes:
      - ./litedb_data:/data/litedb

  query:
    build:
      context: ..
      dockerfile: ./docker/query/Dockerfile
    container_name: mocha-query
    ports:
      - "5775:5775"
    expose:
      - "5775"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - Metadata__Storage__Provider=LiteDB
      - Tracing__Storage__Provider=LiteDB
      - Metrics__Storage__Provider=LiteDB
      - Metadata__Storage__LiteDB__DatabasePath=/data/litedb
      - Tracing__Storage__LiteDB__DatabasePath=/data/litedb
      - Metrics__Storage__LiteDB__DatabasePath=/data/litedb
    restart: always
    networks:
      - mocha
    volumes:
      - ./litedb_data:/data/litedb

networks:
  mocha:
    driver: bridge
