name: .NET Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  dotnet-build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 8.0.x
    - name: Fetch submodules
      run: git submodule update --init --recursive
    - name: Restore dependencies
      run: dotnet restore
    - name: Build third-party modules
      run: dotnet build ./src/Mocha.Protocol.Generated
    - name: Build
      run: dotnet build
    - name: Format
      run: dotnet format --verify-no-changes --verbosity diagnostic
    - name: Test
      run: dotnet test -c Release --collect:"XPlat Code Coverage"
    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v3
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
